body {
	background-color: #2F497F;
	color: #5E92FF;
	font-family: 'Roboto', sans-serif;
	text-align: center;

}

div {
	padding: 20px;
	text-align: center;
}

ul {
	list-style-type: none;
	max-width: 1vw;
}

button {
	width: 200px;
	color: #5E92FF;
}

.deep-blue {
	background-color: #092F7F;
}

.dodger-blue {
	background-color: #0E4BCC;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    width: 50%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}